* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
